In [1]:
import mysql.connector
import pandas as pd

In [2]:
connection = mysql.connector.connect(host="localhost",
                                    user="root",
                                    passwd="siddharth75!")
cursorObj= connection.cursor(buffered=True,dictionary=True)

In [3]:
cursorObj.execute("create database e_commerce;")

In [4]:
cursorObj.execute("use e_commerce;")

In [9]:
table_creation_query= """CREATE TABLE supplier (SUPP_ID int primary key,SUPP_NAME varchar(50) ,

                    SUPP_CITY varchar(50),SUPP_PHONE varchar(10));

                    

                    CREATE TABLE customer (CUS_ID INT NOT NULL,CUS_NAME VARCHAR(20) NULL DEFAULT NULL,

                    CUS_PHONE VARCHAR(10),CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID));

                    

                    CREATE TABLE category (CAT_ID INT NOT NULL,CAT_NAME VARCHAR(20) NULL DEFAULT NULL,

                    PRIMARY KEY (CAT_ID));


                    CREATE TABLE product (PRO_ID INT NOT NULL,PRO_NAME VARCHAR(20) NULL DEFAULT NULL,

                    PRO_DESC VARCHAR(60) NULL DEFAULT NULL,CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),

                    FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID));

CREATE TABLE product_details (PROD_ID INT NOT NULL,PRO_ID INT NOT NULL,SUPP_ID INT NOT NULL,

                    PROD_PRICE INT NOT NULL, PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID),

                    FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID));

                      

                    CREATE TABLE orders (ORD_ID INT NOT NULL,ORD_AMOUNT INT NOT NULL,ORD_DATE DATE,

                    CUS_ID INT NOT NULL,PROD_ID INT NOT NULL, PRIMARY KEY (ORD_ID),

                    FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),

                    FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID));

CREATE TABLE rating (RAT_ID INT NOT NULL,CUS_ID INT NOT NULL,

                    SUPP_ID INT NOT NULL,RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),

                    FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),

                    FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID));"""
cursorObj.execute(table_creation_query,multi=True)

In [13]:
insert_query1 = "INSERT INTO supplier (SUPP_ID, SUPP_NAME, SUPP_CITY, SUPP_PHONE) VALUES (%s, %s, %s, %s)"

val = [(1,"Rajesh Retails","Delhi",'1234567890'),

       (2,"Appario Ltd.","Mumbai",'2589631470'),

       (3,"Knome products","Banglore",'9785462315'),

       (4,"Bansal Retails","Kochi",'8975463285'),

       (5,"Mittal Ltd.","Lucknow",'7898456532')]


   

cursorObj.executemany(insert_query1,val)

connection.commit()

In [17]:
# Inserting Values into "customer" table


insert_query2 = "INSERT INTO customer (CUS_ID, CUS_NAME, CUS_PHONE, CUS_CITY, CUS_GENDER) VALUES (%s, %s, %s, %s, %s)"

val = [(1,"AAKASH",'9999999999',"DELHI",'M'),

       (2,"AMAN",'9785463215',"NOIDA",'M'),

       (3,"NEHA",'9999999999',"MUMBAI",'F'),

       (4,"MEGHA",'9994562399',"KOLKATA",'F'),

       (5,"PULKIT",'7895999999',"LUCKNOW",'M')]



cursorObj.executemany(insert_query2, val)

connection.commit()

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'supplier.PRIMARY'

In [14]:
## Inserting Values into "category" table


insert_query = "INSERT INTO category (CAT_ID, CAT_NAME) VALUES (%s, %s)"

val = [(1,"BOOKS"),(2,"GAMES"),(3,"GROCERIES"),(4,"ELECTRONICS"),(5,"CLOTHES")]



cursorObj.executemany(insert_query, val)

connection.commit()

In [19]:
## Inserting Values into "product" table


insert_query3 = "INSERT INTO product (PRO_ID, PRO_NAME, PRO_DESC, CAT_ID) VALUES (%s, %s, %s, %s)"

val = [(1,"GTA V","DFJDJFDJFDJFDJFJF",2),(2,"TSHIRT","DFDFJDFJDKFD",5),(3,"ROG LAPTOP","DFNTTNTNTERND",4),
       (4,"OATS","REURENTBTOTH",3),(5,"HARRY POTTER","NBEMCTHTJTH",1)]



cursorObj.executemany(insert_query3,val)

connection.commit()

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'supplier.PRIMARY'

In [20]:
# Inserting Values into "product_detials" table


insert_query = "INSERT INTO product_details (PROD_ID, PRO_ID, SUPP_ID, PROD_PRICE) VALUES (%s, %s, %s, %s)"

val = [(1,1,2,1500),
       (2,3,5,30000),
       (3,5,1,3000),
       (4,2,3,2500),
       (5,4,1,1000)]



cursorObj.executemany(insert_query, val)

connection.commit()

In [50]:
# Inserting Values into "orders" table


insert_query = "INSERT INTO orders (ORD_ID, ORD_AMOUNT, ORD_DATE, CUS_ID, PROD_ID) VALUES (%s, %s, %s, %s, %s)"

val = [(20,1500,"2021-10-12",3,5),
       (25,30500,"2021-09-16",5,2),
       (26,2000,"2021-10-05",1,1),
       (30,3500,"2021-08-16",4,3),
       (50,2000,"2021-10-06",2,1)]



cursorObj.executemany(insert_query, val)

connection.commit()

InternalError: Unread result found

In [21]:
# Inserting Values into "rating" table


insert_query = "INSERT INTO rating (RAT_ID, CUS_ID, SUPP_ID, RAT_RATSTARS) VALUES (%s, %s, %s, %s)"

val = [(1,2,2,4),
       (2,3,4,3),
       (3,5,1,5),
       (4,1,3,2),
       (5,4,5,4)]



cursorObj.executemany(insert_query, val)

connection.commit()

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'customer.PRIMARY'

In [22]:
Query11="""select * from customer left outer join `orders` on customer.cus_id=`orders`.cus_id; """
cursorObj.execute(Query11)
output = cursorObj.fetchall()

output_df = pd.DataFrame(output, columns=['CUS_ID','CUS_NAME','CUS_PHONE','CUS_CITY','CUS_GENDER','ORD_ID','ORD_AMOUNT','ORD_DATE','CUS_ID','PROD_ID'])
output_df

InterfaceError: No result set to fetch from